{% load static %}
<link 
rel = "stylesheet"
type = "text/css"
href = "{% static 'assets/css/bootstrap.css'%}"
/>

<h1>Add a meal option below.</h1> 

<form method="POST" action="add">
    {% csrf_token %}
    <p>Dish Name:</p>
    <input type="text" name="name" />

    <p>Youtube Recipe Link:</p>
    <input type="url" name="recipe" />

    {% if submit %}
    <p style="color: chartreuse;">Meal added!</p>
    {% endif %}
    <br><br>
    <input type="submit" />
</form>

<form method="GET" action="{% url 'index' %}">
    <button>Go Back</button>
</form>